__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
build/
dist/
*.egg-info/
outputs/
tmp/
.idea/
example/**/*.fig
example/**/*.png
example/**/*.jpg
example/**/*.jpeg
example/**/*.gcode
example/**/*.nc
example/**/*.tap
example/**/*.STP
example/**/*.STEP
example/**/*.stl
example/**/*.STL
example/**/*.3dm
example/**/*.m
example/**/*_stats*.txt
